@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-900: #1e3a8a;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --border: #e2e8f0;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;

    --card: #1e293b;
    --card-foreground: #f8fafc;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --border: #334155;
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased transition-colors duration-300;
  }
}